source https://www.nuget.org/api/v2
storage:none
framework: netstandard2.0

# nuget Fable.Import.Jest // Use when ready for Fable2
github nojaf/fable-jest:fable2 fable/Bindings.fs
github nojaf/fable-jest:fable2 fable/Exports.fs
github nojaf/fable-jest:fable2 fable/Matchers.fs
nuget FSharp.Core redirects:force
nuget Fable.Import.VSCode
nuget Fable.Parsimmon